<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice is: <%= diceVal %> </h1>
    <% if(diceVal == 6) { %>
        <p>Nice ! Roll Dice again!</p>
        <button>Roll Again</button>
    <%}%>
</body>
</html>