.container {
    display: flex;
    flex-direction: row; /* Keep image and text side by side */
    align-items: flex-start;
    gap: 20px; /* Space between profile pic and text */
    margin: 20px 10px;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.first-row {
    display: flex;
    gap: 15px;
}

.follow-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}



/* Adjust button layout */
.follow-btn {
    margin: 10px 0;
    height: 45px;
    padding: 10px 15px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
}

/* Profile Picture */
.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

img {
    height: 200px;
    width: 200px;
}


